*.0
*.a
*.lo
*.o
*.so
lang/*/ezmlmrc
lang/*/text/messages
SOURCES
TARGETS
auto_bin.c
auto-ccld.sh
auto_cron.c
auto_etc.c
auto_lib.c
auto_qmail.c
build/auto-str
auto_version.c
build/choose
compile
crypt.lib
dl.lib
ezmlm-accept
ezmlm-archive
ezmlm-cgi
ezmlm-check
ezmlm-checksub
ezmlm-clean
ezmlm-confirm
ezmlm-cron
ezmlm-dispatch
ezmlm-gate
ezmlm-get
ezmlm-glconf
ezmlm-idx
ezmlm-idx.spec
ezmlm-import
ezmlm-issubn
ezmlm-limit
ezmlm-list
ezmlm-make
ezmlm-manage
ezmlm-moderate
ezmlmrc
ezmlm-receipt
ezmlm-reject
ezmlm-request
ezmlm-return
ezmlm-rmtab
ezmlm-send
ezmlm-split
ezmlm-store
ezmlm-sub
ezmlm-test
ezmlm-tstdig
ezmlm-unsub
ezmlm-warn
ezmlm-weed
installer
libcompile
load
makelib
makeso
messages-txt.c
m.lib
nsl.lib
sys/direntry.h
sys/hasattribute.h
sys/hasflock.h
sys/hassgact.h
sys/haswaitp.h
sys/iopause.h
sys/select.h
systype
sys/uint32.h
sys/uint64.h
test/getconfopt
